/* entire nav */
  .complete {
    background-color: blueviolet;
    border-bottom: solid 3px black;
    min-height: 5vw;
    
  }
  
  /* "BRAND-my name" */
  .name {
    font-size: 30px;
    text-shadow: 1px 5px black;
  }
  
  /* contains all of the links in the nav bar */
  .all-menu {
    position: relative;
    left: 60%;
    top: 0;
    text-shadow: 5px 3px black;
  }
  /* each individual nav button */
  .menu-item {
    font-size: 20px;
    background-color: rgb(201, 145, 201);
    background-image: linear-gradient(rgb(238, 135, 216), rgb(0, 0, 0));
    padding-left: 5%;
    padding-right: 3%;
    border: 5px, white;
    border-radius: 50%;
    text-align: center;
  }
  
  /* "when clicked" color */
  .menu-item:active {
    color: blueviolet;
  }
  .click {
    margin: 0%;
  }
  .portfolio {
    margin-right: 4px;
    margin-left: 4px;
  }
  /*start of MAIN  */
  body {
    font-family: satisfy;
    background-color: rgb(247, 232, 247);
    margin: 0;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

    
   .content {
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    max-width: 80vw;
    border: 2px solid white;
    min-height: 87vw; 
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .responsive {
    max-width: 98%;
    height: auto;
  } 

  .top {
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;

  }
  .middle {
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  }

  .bottom {
    margin-top: 2vw;
    padding: 1vw;
  }  

  .rightCol {
    padding-left: 5vw;
    padding: 1vw;
  }

  .leftCol {
    padding-left: 5vw;
    padding: 1vw;
/* footer-consistent for all style-sheets */
  }
  footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  background-color: rgb(201, 145, 201);
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  min-height: 8vw;
  }

  /* MEDIA QUERY for changes to NAVBAR */
    @media only screen and (max-width: 991px) {
      .menu-item {
        background-color: transparent;
        background-image: none;
        padding-left: 55%;
        padding-right: 0%;
        border: 0;
        border-radius: 0;
        text-align: center;
      }
    
      .all-menu {
        position: relative;
        left: 15%;
        padding-right: 2%;
        top: 0;
      }
      .complete {
        height: auto;
      }
      .surprise {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwqk3eRfGW5tJrJuOMRdAbrJBlIgcRZDjMkg&usqp=CAU);
        background-repeat: no-repeat;
      }
    }

      
  
  
  